.box {
  width: 4.625rem;
  aspect-ratio: 1 / 1;
  background-color: var(--theme-color-bg-1);
  border-radius: var(--radius-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--theme-shadow-component);
}

.wrapper {
  height: 2.5rem;
}

@media (min-width: 768px) {
  .box {
    width: var(--header-element-height);
    border-radius: var(--radius-lg);
  }
  .wrapper {
    height: var(--size-52);
  }
}