.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-12);

  color: var(--theme-color-text-base);
}

.item-name {
  font-size: var(--size-18);
  font-weight: var(--font-weight-medium);
}