/* ================= BASE STYLES ================= */

:root {
  /* Gray scale */

  --black: #000000;
  --gray-1: #0D0D0D;
  --gray-2: #1A1A1A;
  --gray-3: #262626;
  --gray-4: #333333;
  --gray-5: #404040;
  --gray-6: #4C4C4C;
  --gray-7: #595959;
  --gray-8: #666666;
  --gray-9: #737373;
  --gray-10: #808080;
  --gray-11: #8C8C8C;
  --gray-12: #999999;
  --gray-13: #A6A6A6;
  --gray-14: #B3B3B3;
  --gray-15: #C0C0C0;
  --gray-16: #CDCDCD;
  --gray-17: #E5E5E5;
  --gray-18: #F2F2F2;
  --white: #FFFFFF;

  /* Color Palette */

  /* #region Light */

  --light-color-primary-high: #00A9BE;
  --light-color-primary-base: #00BCD4;
  --light-color-primary-medium: #33C9DC;
  --light-color-primary-low-1: #99E4EE;
  --light-color-primary-low-2: #D9F7FA;

  --light-color-themeToggleButton: #FFC565;
  --light-color-bg-1: var(--white);
  --light-color-bg-2: #F9F9F9;

  --light-color-text-low: var(--gray-10);
  --light-color-text-base: var(--gray-6);
  --light-color-text-high: var(--gray-4);
  --light-color-text-contrasted: var(--white);

  --light-shadow-component: 0 4px 20px 0 rgba(25, 34, 35, .1);

  /* #endregion Light */

  /* #region Dark */

  --dark-color-primary-high: #4EBDC9;
  --dark-color-primary-base: #57D2E0;
  --dark-color-primary-medium: #78DBE6;
  --dark-color-primary-low-1: #518288;
  --dark-color-primary-low-2: #466669;

  --dark-color-themeToggleButton: #0094D4;
  --dark-color-bg-1: var(--gray-5);
  --dark-color-bg-2: var(--gray-6);

  --dark-color-text-low: var(--gray-15);
  --dark-color-text-base: var(--gray-18);
  --dark-color-text-high: var(--white);
  --dark-color-text-contrasted: var(--gray-4);

  --dark-shadow-component: 0 4px 20px 0 rgba(0, 0, 0, .15);

  /* #endregion Dark */

  /* #region Variables */

  --header-element-height: 5.625rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-22: 1.375rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-28: 1.75rem;
  --size-30: 1.875rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-52: 3.25rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-88: 5.5rem;
  --size-96: 6rem;

  --radius-n: 0px;
  --radius-2xs: 2px;
  --radius-1xs: 4px;
  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --radius-1xl: 40px;
  --radius-2xl: 48px;
  --radius-3xl: 56px;

  /* #endregion Variables */

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= Design System ================= */

.light-theme {
  /* General */

  --theme-color-primary-high: var(--light-color-primary-high);
  --theme-color-primary-base: var(--light-color-primary-base);
  --theme-color-primary-medium: var(--light-color-primary-medium);
  --theme-color-primary-low-1: var(--light-color-primary-low-1);
  --theme-color-primary-low-2: var(--light-color-primary-low-2);

  --theme-color-bg-1: var(--light-color-bg-1);
  --theme-color-bg-2: var(--light-color-bg-2);

  --theme-color-text-low: var(--light-color-text-low);
  --theme-color-text-base: var(--light-color-text-base);
  --theme-color-text-high: var(--light-color-text-high);
  --theme-color-text-contrasted: var(--light-color-text-contrasted);

  --theme-shadow-component: var(--light-shadow-component);

  /* Custom */

  --theme-color-themeToggleButton: var(--light-color-themeToggleButton);
  --theme-logo-color-contrasted: var(--gray-4);
}

.dark-theme {
  /* General */

  --theme-color-primary-high: var(--dark-color-primary-high);
  --theme-color-primary-base: var(--dark-color-primary-base);
  --theme-color-primary-medium: var(--dark-color-primary-medium);
  --theme-color-primary-low-1: var(--dark-color-primary-low-1);
  --theme-color-primary-low-2: var(--dark-color-primary-low-2);

  --theme-color-bg-1: var(--dark-color-bg-1);
  --theme-color-bg-2: var(--dark-color-bg-2);

  --theme-color-text-low: var(--dark-color-text-low);
  --theme-color-text-base: var(--dark-color-text-base);
  --theme-color-text-high: var(--dark-color-text-high);
  --theme-color-text-contrasted: var(--dark-color-text-contrasted);

  --theme-shadow-component: var(--dark-shadow-component);

  /* Custom */

  --theme-color-themeToggleButton: var(--dark-color-themeToggleButton);
  --theme-logo-color-contrasted: var(--white);
}

/* Start */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}